

#uno{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#dos{
    color: gray;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
a {
    width: 9%;
}

img {
    width: 20%;
    margin: 10% 40% 10% 40%;
    display: block;
   
}


